/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */

/*CUSTOM CSS*/

@font-face{
    font-family: 'Existence';
    src: url('./fonts/Existence-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'Gotham Bold';
    src: url('./fonts/GothamBold.ttf') format('truetype');
}
@font-face{
    font-family: 'Gotham Book';
    src: url('./fonts/GothamBook.ttf') format('truetype');
}
@font-face{
    font-family: 'Gotham Light';
    src: url('./fonts/GothamLight.ttf') format('truetype');
}

.justify-evenly {
    justify-content: space-evenly;
}

.box-control {
    margin-bottom: 30px;
    width: calc(1/2*100% - (1-1/2)*15px);
}


@media screen and (min-width: 768px) {
    .box-control:nth-of-type(3), .box-control:nth-of-type(4) {
        margin-bottom: 0;
    }
}
@media screen and (max-width:768px){
    .flex-order{
        order: 1;
    }
    .box-control{
        width: 100%;
    }
}

/* button hover animation */
.animate-btn > img {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.animate-btn:hover > img {
    animation: swing 1s infinite;
}

@keyframes swing {
    0% {
        right: -50px;
    }
    50% {
        right: -60px;
    }
    0% {
        right: -50px;
    }
}

/* swiper bullets control */
.swiper-pagination-bullet {
    background: #b3b3b3 !important;
}
.swiper-pagination-bullet-active {
    background: #E6E6E6 !important;
}

/* menu styles */

/* #main-nav {
    height: 0;
    opacity: 0;
    transition: all 0.3s;
} */
#main-nav.active {
    height: 135px;
    opacity: 1;
}
@media (min-width: 30px) {
    #main-nav {
        height: 0;
        opacity: 0;
        transition: all 0.3s;
        margin-top: 71.5px;
    }
}
@media (min-width: 768px) {
    #main-nav {
        height: auto;
        opacity: 1;
        margin-top: 0;
    }
}


 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
